.header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;

  background: #FFF;

  display: flex;
  align-items: center;
  padding: 0.25rem;

  height: 5rem;
}

.header__logo {
  max-height: 3rem;
  margin: 0.25rem;
}

.header__nav {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-right: 0.5rem;
}

.header__nav a {
  color: black;
<<<<<<< HEAD

=======
>>>>>>> 125fdf5a63dc2a7693d221916156f0f24dfa514d
  padding: 0 1rem;

  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}

.header__nav a:not(:first-child) {
  border-left: 3px solid #0a9396;
}

.header__nav a:hover {
  color: #0a9396;
}

.header__symbol {
  max-height: 3rem;
  margin: 0.25rem;
  padding-right: 1rem;
}

@media (max-width: 800px) {
  .header__nav {
    display: none;
  }

  .header__symbol {
    display: none;
  }
}
